{% extends "frontend/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="static\reset.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
	<a href="/" style="position: absolute; top: 8px; left: 16px;"><img height="40px" width="40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Left_arrow.svg/434px-Left_arrow.svg.png" alt="arrow"></a>
  
<div class="container" id="container">
	<div class="form-container sign-in-container">
			<h1>Password Reset</h1>
			<form action="/api/reset_password">
                <input type="text" name="reset_password">
                <input type="submit" name="" id="">
            </form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Reset Your Password Here and get right back to the action!</h1>
			</div>
		</div>
	</div>
</div>
</body>
</html>


{% endblock %}