{% extends "frontend/base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/api/change_password" method="post">
    <input type="text" name="old_password" id="" placeholder="password">
    <input type="text" name="new_password" id="" placeholder="new password">
    <input type="text" name="confirm_password" placeholder="confirm password">
    <input type="submit" name="" id="">
</form>
{% endblock %}